// ####### Color #######
$white: #fff;
$black: #000;
$color-primary: #ffad1d;
$color-secondary: #1cbbb4;
$purple: #ca6ec2;
$gray: #333333;
$gray-dark: #464646;
$gray-dark-ligth: #ebebeb;
$color-primary-opacity: rgba(255,173,29,0.85);
$color-secondary-opacity: rgba(28,187,180,0.85);

$opacity: .85;

/*
    background: rgb(51,51,51);
    background: linear-gradient(180deg, rgba(51, 51, 51, 0.53) 0%, rgba(255,255,255,0.5) 100%);*/
